/* // Extra Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) and (max-width: 575px) {
/*Common*/
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}
p {
	font-size: 12px;
}
a{    
    font-size: 12px;
}
button{
	font-size: 9px;
}
.content_padding {
	padding: 30px 0px 0px;
}
.section_header h2::after {
    margin-top: 5px;
    width: 75px;
}
.section_header h2::before {
	height: 10px;
	width: 10px;
	margin-top: 1px;
}
/*Common*/

/*Menu*/
header{
	height: 40px;
}
.logo img {
	padding: 8px 0px;
}
.main-menu{
	display: none;
}
.mobile-menu {
	display: block;
	position: absolute;
	top: 18px;
	right: 20px;
}
.menu-bar{
	display: block;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}
#close-btn{
	display: none;
}
.mobile-main-menu {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 80%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
}
.menu{
	margin: 50px 100px;
}
.menu .nav-item{
	display: block;
}
.menu .nav-item .nav-link{
	padding: 20px 0px;
}
/*Menu*/
/*Home*/
.home{
    min-height: 60vh;
}
.home_content {
	padding: 150px 0px 50px;
}
.home_content a {
	padding: 10px 25px;
}
/*Home*/
/*About*/
.about_details {
	padding: 5px 0px;
}
.about_details ul li a {
	height: 30px;
	width: 30px;
	margin: 10px 5px;
	font-size: 15px;
	line-height: 30px;
}
.about_right{
    margin: 0px 20px;
}
.about_right h5 {
	margin: 20px 0px 15px;
}
.about_right p {
	margin-bottom: 10px;
}
.about_right a {
	padding: 10px 15px;
    margin-top: 5px;
}
/*About*/
/*Video*/
.video_area .video_text h3 {
	padding-bottom: 15px;
}
.video_area .video_icon a {
	font-size: 20px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
/*Video*/
/*Service*/
.service_item {
	margin-top: 35px;
}
.service_item h6 {
	margin: 10px 0px;
}
/*Service*/
/*Skill*/
.skill_left {
	margin: 20px;
}
.skill_right {
	margin: 20px;
}
/*Skill*/
/*Counter*/
.counter_item {
	margin-top: 30px;
}
/*Counter*/
/*Portfolio*/
.portfolio_menu button {
	margin: 0px 5px 15px;
}
/*Portfolio*/
/*Blog*/
.blog_item {
	box-shadow: 0 0 5px #000;
	margin-top: 10px;
}
/*Blog*/
/*Contact*/
.contact input {
	margin-top: 25px;
}
.contact form {
	margin: 0px 20px;
}
.contact .btn {
	padding: 10px 15px;
	margin-top: 15px;
	font-size: 12px;
}
/*Contact*/
/*Footer*/
.footer_icon {
	text-align: center;
	margin-bottom: 10px;
}
footer p {
	text-align: center !important;
	color: #fff;
}
/*Footer*/
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
/*Common*/
h1 {
 	font-size: 47px;
}
h5 {
    font-size: 16px;
}
/*Common*/
/*Menu*/
header{
	height: 40px;
}
.logo img {
	padding: 8px 0px;
}
.main-menu{
	display: none;
}
.mobile-menu {
	display: block;
	position: absolute;
	top: 18px;
	right: 20px;
}
.menu-bar{
	display: block;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}
#close-btn{
	display: none;
}
.mobile-main-menu {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 80%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
}
.menu{
	margin: 50px 100px;
}
.menu .nav-item{
	display: block;
}
.menu .nav-item .nav-link{
	padding: 20px 0px;
}
/*Menu*/	
/*Counter*/
.counter_item {
	margin-top: 30px;
}
/*Counter*/
/*About*/
.about_left .about_details h5{
	font-size: 20px;
}
/*About*/
/*Portfolio*/
.portfolio_menu button {
	margin: 0px 10px 15px;
}
/*Portfolio*/
/*Blog*/
.blog_item {
	box-shadow: 0 0 5px #000;
	margin-top: 15px;
}
.blog_comment {
	font-size: 13px;
}
/*Blog*/
/*Contact*/
.contact input {
	margin-top: 25px;
}    
/*Contact*/   
}

@media (min-width: 768px) and (max-width: 991px) {
/*Menu*/
header{
	height: 40px;
}
.logo img {
	padding: 8px 0px;
}
.main-menu{
	display: none;
}
.mobile-menu {
	display: block;
	position: absolute;
	top: 18px;
	right: 20px;
}
.menu-bar{
	display: block;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}
#close-btn{
	display: none;
}
.mobile-main-menu {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 80%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
}
.menu{
	margin: 50px 100px;
}
.menu .nav-item{
	display: block;
}
.menu .nav-item .nav-link{
	padding: 20px 0px;
}
/*Menu*/
/*About*/
.about_right h5 {
	margin: 0px 0px 10px;
}
/*About*/
/*blog*/
.blog_item h4 {
	font-size: 18px;
}
.blog_details .blog_btn {	
	font-size: 12px;
	padding: 5px 10px;
}
.blog_comment:hover, .blog_comment {
	font-size: 11px;
}
/*blog*/
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
/*Common*/
h1 {
	font-size: 55px;
}
/*Common*/
/*About*/
.about_right h5 {
	margin: 0px 0px 10px;
}
/*About*/
}
